/* Google fonts import : Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');


/* Application of fonts for each element */

* {
    font-family: "Roboto", sans-serif;
}


/* Definition of colours */

:root {
    --primary-darkColor: darkturquoise;
    --primary-darkFontColor: black;
    --primary-buttonColor: aqua;
    --primary-inputColor: aliceblue;
    --primary-lightColor: rgb(255, 204, 0);
    --primary-lightTransparentColor: rgba(255, 204, 0, 0.2);
    --primary-lightFontColor: linen;
}


/* HTML markup style */

header {
    width: 100%;
    font-weight: 100;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-darkColor);
    z-index: 1;
}

main {
    display: grid;
    justify-items: center;
    position: relative;
    width: 100%;
    top: 100px;
    left: 0;
    vertical-align: middle;
    z-index: 0;
    padding-bottom: 50px;
}

h1 {
    padding: 15px;
    padding-right: 0;
    font-size: xx-large;
}

input,
button,
select {
    position: relative;
    color: var(--primary-darkFontColor);
    border-radius: 10px;
    border: none;
    height: 48px;
    width: 100%;
    text-align: center;
    font-size: x-large;
    font-weight: 900;
    margin: 5px;
}

input,
select {
    background-color: var(--primary-inputColor);
}

button {
    background-color: var(--primary-buttonColor);
    user-select: none;
}

select:disabled {
    display: none;
}


/* Classes CSS */

button:active {
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 0.5px;
    left: 0.5px;
}

div.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-darkColor);
    border-radius: 10px;
    margin: 5px auto;
}

.temperature {
    font-size: xx-large;
}

.weatherIcon {
    padding: 15px 0;
    width: 100px;
    font-size: 50px;
}

.statistics {
    display: flex;
    position: relative;
    width: 50%;
}

.statistics p {
    margin: 0;
    position: relative;
    display: inline-block;
    margin: auto;
    width: 45%;
}

.communeName {
    font-weight: 900;
    font-size: xx-large;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}

div.weatherCard {
    color: var(--primary-darkFontColor);
    border-radius: 10px;
    border: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 15px 0;
}

div.weatherCard * {
    margin: 15px auto;
    font-weight: 100;
    width: 100%;
}

.weatherCardContainer {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
}


/* Weather cards thems */

.snowy:hover {
    background-image: url('../ressources/snowy.png');
    background-size: cover;
    background-position: center;
    animation: dezoom 1s forwards;
}

.sunny:hover {
    background-image: url('../ressources/sunny.png');
    background-size: cover;
    background-position: center;
    animation: dezoom 1s forwards;
}

.cloudy:hover {
    background-image: url('../ressources/cloudy.png');
    background-size: cover;
    background-position: center;
    animation: dezoom 1s forwards;
    color: var(--primary-lightFontColor) !important;
}

.foggy:hover {
    background-image: url('../ressources/foggy.png');
    background-size: cover;
    background-position: center;
    animation: dezoom 1s forwards;
}

.rainy:hover {
    background-image: url('../ressources/rainy.png');
    background-size: cover;
    background-position: center;
    animation: dezoom 1s forwards;
    color: var(--primary-lightFontColor) !important;
}

.stormy:hover {
    background-image: url('../ressources/stormy.png');
    background-size: cover;
    background-position: center;
    animation: dezoom 1s forwards;
    color: var(--primary-lightFontColor) !important;
}

.snowy {
    background-image: url('../ressources/snowy.png');
    background-size: cover;
    background-position: center;
    animation: zoom 2s forwards;
}

.sunny {
    background-image: url('../ressources/sunny.png');
    background-size: cover;
    background-position: center;
    animation: zoom 2s forwards;
}

.cloudy {
    background-image: url('../ressources/cloudy.png');
    background-size: cover;
    background-position: center;
    animation: zoom 2s forwards;
    color: var(--primary-lightFontColor) !important;
}

.foggy {
    background-image: url('../ressources/foggy.png');
    background-size: cover;
    background-position: center;
    animation: zoom 2s forwards;
}

.rainy {
    background-image: url('../ressources/rainy.png');
    background-size: cover;
    background-position: center;
    animation: zoom 2s forwards;
    color: var(--primary-lightFontColor) !important;
}

.stormy {
    background-image: url('../ressources/stormy.png');
    background-size: cover;
    background-position: center;
    animation: zoom 2s forwards;
    color: var(--primary-lightFontColor) !important;
}

/* Scrollbar CSS : https://codepen.io/stephenpaton-tech/full/JjRvGmY */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-darkColor) #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 3px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--primary-darkColor);
    border-radius: 20px;
  }

/* Pull down menu */

.options {
    
}

/* Media queries */

@media screen and (max-width: 1300px) {
    .weatherCardContainer {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
    }
}

@media screen and (max-width: 880px) {
    .weatherCardContainer {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr; 
    }
}

@media screen and (min-width: 880px) {
    /* .weatherCardContainer {
        width: 90%; 
    } */

    .weatherCard {
        width: 100%;
    }
}

@media screen and (min-width: 470px) {
    div.buttonContainer {
        width: 412px;
    }

    div.weatherCard {
        width: 412px;
    }
}

@media screen and (max-width: 470px) {
    div.buttonContainer {
        margin: 25px;
        width: 95%;
    }

    div.weatherCard {
        margin: 25px;
    }
}

/* Animation */
  
@keyframes dezoom {
    0% {
      background-size: 500% 500%;
    }
    100% {
      background-size: 100% 100%;
    }
  }
  
  @keyframes zoom {
    0% {
      background-size: 100% 100%;
    }
    100% {
      background-size: 500% 500%;
    }
  }
  